[Unit]
Description=Clash Daemon
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/clash -d ~/.config/clash/config
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target